:root {
    --backgroundcolor: white;
    --color: #032336;
    --color-dimmed: #113951;
}

body {
  background-color: var(--backgroundcolor);
  color: var(--color);
  font-family: sans-serif;
  margin: auto;
  max-width: 960px;
}

body, .site, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
    color: var(--color-dimmed);
}

.site {
  margin-bottom: 24px;
  /*box-shadow: 0 0 16px rgba(1,1,1,.4);*/
  border-radius: 4px;
  padding:48px;
}
.site a {
  color: var(--color-dimmed);
  font-size: 1rem;
  text-decoration: none;
}
.site a:hover {
 text-decoration: underline;
}
.site img {
  display:inline-block;
  width: 480px;
}

footer {
  margin: 96px auto;
}
footer img {
  border-radius: 4px;
}
