---json
{
  "title": "useless websites",
  "description": "Hi, I'm Alex, I create useless websites",
  "url": "https://uselesswebsites.gitlab.io",
  "image": "scrn_uselesswebsites.png",
  "sites": [
  {
    "id": "supercyanclickcounter",
    "title": "Super Cyan Click Counter",
    "description": "A website to count clicks. Super Cyan",
    "url": "https://supercyanclickcounter.netlify.app/"
  },
  {
    "id": "der86400er",
    "title": "Der 86400er",
    "description": "A 86400 seconds clock.",
    "url": "https://der86400er.netlify.app/"
  },
  {
    "id": "everchangingbackground",
    "title": "Ever Changing Background",
    "description": "Infinite changing background color",
    "url": "https://everchangingbackground.netlify.app/"
  },
  {
    "id": "timelefttoday",
    "title": "Time Left Today",
    "description": "Seconds left today",
    "url": "https://timelefttoday.netlify.app/"
  },
  {
    "id": "bigblackclock",
    "title": "Big Black Clock",
    "description": "A clock. Big. Black.",
    "url": "https://bigblackclock.netlify.app/"
  }

  ]
}
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="{{ title }}">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="style.css">

  <meta name="twitter:title" content="{{ title | escape }}">
  <meta name="twitter:description" content="{{ description | escape }}">
  <meta name="twitter:image" content="{{ url }}/{{ image }}">
  <meta name="twitter:site" content="{{ url }}">

  <meta property="og:title" content="{{ title | escape  }}">
  <meta property="og:description" content="{{ description | escape  }}">
  <meta property="og:image" content="{{ url }}/{{ image }}">
  <meta property="og:site_name" content="{{ title | escape  }}">
</head>
<body>
  <h1>{{ title }}</h1>
  <p>{{ description }} like these:</p>
  {%- for site in sites -%}
  <div class="site">
    <a href="{{ site.url }}"><img src="scrn_{{ site.id }}.png" alt="Screenshot {{ site.title }}"></a>
    <a href="{{ site.url }}">{{ site.title }}</a>
  </div>
  {%- endfor -%}
  <footer>
    <p class="dimmed">
      made with 😅 by <a href="https://uselesswebsites.gitlab.io/">uselesswebsites</a>
    </p>
  </footer>
</body>
</html>

